@import "../../styles/global.scss";

.vidlist {
  @include desktop {
    padding-left: 2rem;
  }

  &__heading {
    color: $primary-color-silver;
    text-transform: uppercase;
    padding: 1.5rem 0;

    @include tablet {
      padding-top: 2.25rem;
    }
  }
}
