@use "../../styles/partials/_variables" as *;

.video-main {
  width: 100%;
  height: 10rem;
  aspect-ratio: 16/9;
}

video {
  width: 100%;
  height: 20rem;
  aspect-ratio: 16/9;
  background-color: $primary-color-black;
}
