@import "../../styles/global.scss";
.user-photo {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: $secondary-color-mercury;

  @include tablet {
    width: 2.5rem;
    height: 2.5rem;
  }
}
